.games {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 20px;
    padding: 20px;
}

.card {
    width: 250px;

    background-color: #498aeb;
    border: 2px dashed #000000;

    padding: 20px;
    border-radius: 10px;

    text-align: center;
}