/* Header */
header {
    background-color: #222;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Footer */
footer {
    background-color: #222;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Footerin linkit */
footer a {
    color: white;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    color: #9acd32; /* kevyt vihreä hover-efekti */
}
